html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

/*sakure_ramen_title*/
h1 {
  font-size: clamp(48px, 6vw, 96px);
  font-weight: bold;
}
/*subtitle*/
h2 {
  font-size: 80px;
  font-weight: bold;
  color: #9f0908;
}
/*Pick_n_add_text*/
h3 {
  font-family: "Economica", sans-serif;
  font-weight: bold;
  font-size: 56px;
}

p {
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  color: #000000;
}
/*link_white*/
a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
}

.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navlink {
  color: #ffffff;
  transform: scale(1.05);
  font-weight: 400;
  transition: color 0.15s ease;
}

.navlink:hover {
  color: #9f0908;
}

.nav-container {
  display: flex;
  gap: 40px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*our_menu_price*/
table {
  font-weight: bold;
  font-size: 32px;
  color: rgba(103, 94, 84, 0.992);
  width: 100%;
  border-collapse: collapse;
  margin: 0px;
}

td:first-child {
  width: 70%;
}

td:last-child {
  text-align: right;
  width: 160px;
}

/*our_menu_price*/
th {
  font-family: "Economica", sans-serif;
  font-weight: bold;
  font-size: 56px;
  color: #000000e7;
  text-align: left;
  padding-bottom: 16px;
}

footer {
  background-color: #0a141e;
  height: 144px;
}

.top-header {
  height: 112px;
  margin: 0 180px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  letter-spacing: 0.2px;
}

.header-logo {
  width: 64px;
  height: 64px;
  animation: spin 15s linear infinite;
}

/*Keyframes*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero-section {
  height: 100vh;
  background-image: url(./img/1_hero/JPG/hero_bg.jpg);
  background-size: cover;
  background-position: bottom;
}

.hero-section-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-section-object {
  color: #ffffff;
  margin: 0;
}
/*phone*/
.phone-icon {
  height: 24px;
  width: 24px;
}



.phone-button {
  border: solid white 2px;
  background-color: #9f0908;
  padding: 8px;
  gap: 16px;
  border-radius: 12px;
  width: 235px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;
  line-height: 1;
  transition: all 0.2s ease;
}

.phone-button:hover {
  background-color: #c41212;
  transform: scale(1.05);
}

.phone-button img {
  height: 24px;
  width: auto;
}

/*Order*/
.order-section {
  margin: 120px 160px;
}

.order-section-object {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 64px;
}

.order-section img {
  width: 128px;
}

.pick-container {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.pick-container-object {
  margin: 0;
}

img.pick-container-object {
  margin: 0 0 16px;
}

.pick-con {
  display: flex;
  justify-content: space-around;
}
/*menu*/
.menu-con {
  padding: 120px 0;
  margin: 0 160px;
}

.menu-section {
  background-image: url(./img/3_section_our_menu/JPG/section_our_menu_bg.jpg);
}

.menu-section-object {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 64px;
}

.menu-section img {
  width: 352px;
  height: 352px;
}

.menu-container-tonkatsu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 56px;
}

.menu-container-spicy_miso {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 56px;
}

.menu-container-shio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-text {
  margin-left: 80px;
}

.menu-text-reverse {
  height: fit-content;
  margin-right: 80px;
}

.menu-text tbody {
  margin: 16px 0 0;
}

.menu-text tr {
  margin: 0 0 8px;
}

.menu-text-reverse thead {
  margin: 0 0 16px;
}

/*location*/
.location-section-container {
  margin: 120px 0 0;
}

h2.location-section-object {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 8px;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 64px;
}

.location-container-object {
  margin: 0;
}

p.location-container-object {
  width: 410px;
}

img.location-container-object {
  height: 24px;
}

iframe {
  padding-bottom: 64px;
}

/*footer*/

.footer-logo img {
  height: 44px;
}

.social_media-logos {
  width: 160px;
  height: 44px;
  display: flex;
  justify-content: space-around;
}

.social_media-logos img {
  width: 40px;
  height: 40px;
}

.footer-con {
  margin: 0 160px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .hero-section-container h1 {
    font-size: 80px;
  }

  .hero-section-container p {
    font-size: 22px;
  }

  .navlink {
    display: none;
  }

  .nav-list{
  gap: 0px;
  }

  .nav-container {
    flex-direction: row-reverse;
    gap: 0px;
  }

  .top-header {
    margin: 0 16px 0px 48px;
  }

  section h2 {
    font-size: 64px;
  }

  .order-section {
    margin: 120px 12px;
  }

  .order-section-object {
    font-size: 64px;
  }

  #how-to-order {
    margin: 128px 0 128px;
  }

  .pick-container-object {
    font-size: 48px;
  }

  .menu-con {
    font-size: 32px;
    margin: 16px 32px;
  }

  .menu-section img {
    height: 300px;
    width: auto;
  }

  .menu-section-object {
    font-size: 64px;
  }

  .menu-section th {
    font-size: 48px;
  }

  .menu-section td {
    font-size: 22px;
  }

  .footer-con {
    margin: 0 16px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .hero-section-container h1 {
    font-size: 48px;
  }

  .navlink {
    display: none;
  }

  .top-header {
    padding: 0px 16px;
    margin: 0 0px;
  }

  .header-logo {
    width: 40px;
    height: 40px;
    margin: 0 0;
    padding: 0 0;
  }

  .phone-button {
    font-size: 16px;
    width: 175px;
    padding: 4px;
    gap: 10px;
    justify-content: center;
  }

  .hero-section {
    text-align: center;
    gap: 8px;
  }

  .nav-list {
    display: none;
}

  .hero-section-object {
    font-size: 48px;
    margin-top: 16px;
    margin-right: 16px;
    margin-left: 16px;
  }

  .hero-section-object h1 {
    font-size: 48px;
  }

  .hero-section-object + p {
    font-size: 20px;
  }

  .order-section {
    text-align: center;
  }

  .order-section-object {
    text-align: center;
    font-size: 40px;
  }

  #how-to-order {
    padding: 0 16px;
    white-space: normal;
    margin: 128px 0 128px;
  }

  .pick-con {
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }

  .pick-container-object {
    font-size: 32px;
  }

  .menu-section-object {
    font-size: 40px;
  }

  .menu-con {
    margin: 0px 0px;
  }

  .menu-container-tonkatsu,
  .menu-container-spicy_miso,
  .menu-container-shio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .menu-text,
  .menu-text-reverse {
    margin: 0;
    text-align: left;
  }

  .menu-section img {
    height: 280px;
    width: auto;
  }

  .menu-section th {
    font-size: 40px;
  }

  .menu-section td {
    font-size: 22px;
  }

  .location-container-object {
    font-size: 22px;
    text-align: center;
    padding-left: 0%;
  }

  .location-container {
    display: flex;
    align-items: center;
    margin: 32px 32px;
  }

  .location-section-object {
    font-size: 40px;
  }

  img.location-container-object {
    margin-top: 4px;
    height: 32px;
    width: auto;
    margin-bottom: 8px;
  }

  .footer-con {
    margin: 0 16px;
    justify-content: space-between;
  }

  .footer-logo {
    width: 44px;
    overflow: hidden;
  }

  .footer-logo img {
    display: block;
  }

  td:last-child {
    width: 130px;
  }
}
